Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

pylint:
  name: pylint
  language: system
  verbose: true
  entry: pylint
  args:
  - -d
  - bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code

Deployed 759269d with MkDocs version: 1.1.2
  bindings/index.html
  guide/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

add post-release smoke tests for installation from cargo & maven
  test/MavenSmokeTest/.gitignore
  test/MavenSmokeTest/pom.xml
  test/MavenSmokeTest/src/main/java/net/mlin/genomicsqlite/MavenSmokeTest.java
  test/cargo_smoke_test/.gitignore
  test/cargo_smoke_test/Cargo.toml.in
  test/cargo_smoke_test/cargo
  test/cargo_smoke_test/src/main.rs
Due: none

Update README.md
  README.md
Due: none

genomicsqlite_smoke_test.py: show SQLite compile options
  test/genomicsqlite_smoke_test.py
Due: black, pylint

docs tweaks
  docs/guide.md
  docs/index.md
Due: none

bindings/rust: fix genomicsqlite_vacuum_sql
  bindings/rust/src/lib.rs
Due: none

add in-SQL parse_genomic_range()
  README.md
  docs/guide.md
  docs/index.md
  src/genomicsqlite.cc
  test/test_parse_genomic_range.py
Due: clang-format, cppcheck, black, pylint

polish
  README.md
  docs/index.md
Due: none

fix
  test/test_parse_genomic_range.py
Due: black, pylint

add in-SQL parse_genomic_range() (#11)
  README.md
  docs/guide.md
  docs/index.md
  src/genomicsqlite.cc
  test/test_parse_genomic_range.py
Due: clang-format, cppcheck, black, pylint

split parse_genomic_range
  docs/guide.md
  src/genomicsqlite.cc
  test/test_parse_genomic_range.py
Due: clang-format, cppcheck, black, pylint

Deployed f8b8e71 with MkDocs version: 1.1.2
  guide/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

add in-SQL dna_revcomp()
  docs/guide.md
  docs/index.md
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/test_parse_genomic_range.py
  test/test_twobit.py
Due: clang-format, cppcheck, black, pylint

bundle UINT collating sequence
  .pre-commit-config.yaml
  CMakeLists.txt
  docs/guide.md
  src/genomicsqlite.cc
  src/uint.c
  test/test_ext.py
Due: clang-format, cppcheck, black, pylint

ubuntu:16.04 Dockerfile -- check loadability
  .github/workflows/build.yml
  Dockerfile
Due: none

revamp config JSON parsing
  src/genomicsqlite.cc
Due: clang-format, cppcheck

bump zstd_vfs
  CMakeLists.txt
Due: none

fix
  src/genomicsqlite.cc
Due: clang-format, cppcheck

polish
  src/genomicsqlite.cc
Due: clang-format, cppcheck

revamp config JSON parsing (#12)
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

bump zstd
  Dockerfile
Due: none

genomicsqlite_big_tests.wdl: allow use of CI portable .so
  test/genomicsqlite_big_tests.wdl
Due: none

fix parsing empty config JSON & regression test
  src/genomicsqlite.cc
  test/genomicsqlite_big_tests.wdl
  test/test_bam.py
Due: clang-format, cppcheck, black, pylint

v0.6.0
  Dockerfile
Due: none

Deployed da35778 with MkDocs version: 1.1.2
  guide/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

CI: report binary digests
  .github/workflows/build.yml
  Dockerfile
Due: none

fix mac CI
  .github/workflows/build.yml
Due: none

docs fix for parse_genomic_range
  docs/guide.md
Due: none

Deployed b9ca880 with MkDocs version: 1.1.2
  guide/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

wip
  .github/workflows/build.yml
  Dockerfile
Due: none

wip
  .github/workflows/build.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
  pylint: any of: \.py$
