Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

pylint:
  name: pylint
  language: system
  verbose: true
  entry: pylint
  args:
  - -d
  - bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code

bump zstd_vfs for web_small_KiB
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

Update README.md
  README.md
Due: none

update poster
  docs/GenomeInformatics2021Poster.pdf
  docs/index.md
Due: none

Deployed ee9e069 with MkDocs version: 1.2.3
  404.html
  GenomeInformatics2021Poster.pdf
  assets/javascripts/bundle.b1047164.min.js
  assets/javascripts/bundle.b1047164.min.js.map
  assets/javascripts/bundle.b39636ac.min.js
  assets/javascripts/bundle.b39636ac.min.js.map
  assets/javascripts/lunr/min/lunr.hi.min.js
  assets/javascripts/lunr/min/lunr.th.min.js
  assets/javascripts/lunr/min/lunr.zh.min.js
  assets/javascripts/lunr/tinyseg.js
  assets/javascripts/lunr/tinyseg.min.js
  assets/javascripts/lunr/wordcut.js
  assets/javascripts/vendor.d710d30a.min.js
  assets/javascripts/vendor.d710d30a.min.js.map
  assets/javascripts/worker/search.a68abb33.min.js
  assets/javascripts/worker/search.a68abb33.min.js.map
  assets/javascripts/workers/search.fcfe8b6d.min.js
  assets/javascripts/workers/search.fcfe8b6d.min.js.map
  assets/stylesheets/main.a57b2b03.min.css
  assets/stylesheets/main.a57b2b03.min.css.map
  assets/stylesheets/main.fe0cca5b.min.css
  assets/stylesheets/main.fe0cca5b.min.css.map
  assets/stylesheets/palette.3f5d1f46.min.css
  assets/stylesheets/palette.3f5d1f46.min.css.map
  assets/stylesheets/palette.a46bcfb3.min.css
  assets/stylesheets/palette.a46bcfb3.min.css.map
  bindings/index.html
  guide_db/index.html
  guide_gri/index.html
  guide_helpers/index.html
  index.html
  internals/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

update poster link
  README.md
  docs/index.md
Due: none

adjust pylint
  .pre-commit-config.yaml
Due: none

fix rust build
  bindings/rust/src/lib.rs
Due: none

bump libsqlite3.so.0
  Dockerfile
Due: none

bump dependencies
  CMakeLists.txt
  Dockerfile
  src/genomicsqlite.cc
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

bump sqlite
  Dockerfile
Due: none

bump sqlite_zstd_vfs
  CMakeLists.txt
Due: none

set pragma secure_delete by default
  docs/guide_db.md
  src/genomicsqlite.cc
Due: clang-format, cppcheck

Deployed c4a161d with MkDocs version: 1.3.1
  404.html
  assets/javascripts/bundle.6c7ad80a.min.js
  assets/javascripts/bundle.6c7ad80a.min.js.map
  assets/javascripts/bundle.b1047164.min.js
  assets/javascripts/bundle.b1047164.min.js.map
  assets/javascripts/workers/search.b97dbffb.min.js
  assets/javascripts/workers/search.b97dbffb.min.js.map
  assets/javascripts/workers/search.fcfe8b6d.min.js
  assets/javascripts/workers/search.fcfe8b6d.min.js.map
  assets/stylesheets/main.1d29e8d0.min.css
  assets/stylesheets/main.1d29e8d0.min.css.map
  assets/stylesheets/main.a57b2b03.min.css
  assets/stylesheets/main.a57b2b03.min.css.map
  assets/stylesheets/palette.3f5d1f46.min.css
  assets/stylesheets/palette.3f5d1f46.min.css.map
  assets/stylesheets/palette.cbb835fc.min.css
  assets/stylesheets/palette.cbb835fc.min.css.map
  bindings/index.html
  guide_db/index.html
  guide_gri/index.html
  guide_helpers/index.html
  index.html
  internals/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix docs tabs
  docs/requirements.txt
  mkdocs.yml
Due: none

Deployed b2fca3a with MkDocs version: 1.3.1
  404.html
  assets/javascripts/bundle.6c7ad80a.min.js
  assets/javascripts/bundle.6c7ad80a.min.js.map
  assets/javascripts/bundle.9c69f0bc.min.js
  assets/javascripts/bundle.9c69f0bc.min.js.map
  assets/javascripts/workers/search.ecf98df9.min.js
  assets/javascripts/workers/search.ecf98df9.min.js.map
  assets/stylesheets/main.1d29e8d0.min.css
  assets/stylesheets/main.1d29e8d0.min.css.map
  assets/stylesheets/main.69437709.min.css
  assets/stylesheets/main.69437709.min.css.map
  bindings/index.html
  guide_db/index.html
  guide_gri/index.html
  guide_helpers/index.html
  index.html
  internals/index.html
  requirements.txt
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

downgrade sqlite to 3.39.4
  Dockerfile
  test/genomicsqlite_smoke_test.py
  test/test_gri.py
Due: black, pylint

Revert "downgrade sqlite to 3.39.4"
  Dockerfile
  test/genomicsqlite_smoke_test.py
  test/test_gri.py
Due: black, pylint

bump zstd_vfs
  .pre-commit-config.yaml
  CMakeLists.txt
Due: none

pin sqlite 3.39.4
  .github/workflows/build.yml
  Dockerfile
Due: none

improve JDBC docs
  docs/guide_db.md
  docs/index.md
Due: none

docs: clarify tuning options JSON
  docs/guide_db.md
Due: none

Deployed bb89c5d with MkDocs version: 1.4.2
  404.html
  assets/javascripts/bundle.5a2dcb6a.min.js
  assets/javascripts/bundle.5a2dcb6a.min.js.map
  assets/javascripts/bundle.9c69f0bc.min.js
  assets/javascripts/bundle.9c69f0bc.min.js.map
  assets/javascripts/extra/bundle.5f09fbc3.min.js
  assets/javascripts/extra/bundle.5f09fbc3.min.js.map
  assets/javascripts/lunr/min/lunr.ar.min.js
  assets/javascripts/lunr/min/lunr.ko.min.js
  assets/javascripts/lunr/min/lunr.ta.min.js
  assets/javascripts/lunr/min/lunr.zh.min.js
  assets/javascripts/workers/search.16e2a7d4.min.js
  assets/javascripts/workers/search.16e2a7d4.min.js.map
  assets/javascripts/workers/search.ecf98df9.min.js.map
  assets/stylesheets/extra.0d2c79a8.min.css
  assets/stylesheets/extra.0d2c79a8.min.css.map
  assets/stylesheets/main.69437709.min.css
  assets/stylesheets/main.69437709.min.css.map
  assets/stylesheets/main.975780f9.min.css
  assets/stylesheets/main.975780f9.min.css.map
  assets/stylesheets/palette.2505c338.min.css
  assets/stylesheets/palette.2505c338.min.css.map
  assets/stylesheets/palette.cbb835fc.min.css
  assets/stylesheets/palette.cbb835fc.min.css.map
  bindings/index.html
  guide_db/index.html
  guide_gri/index.html
  guide_helpers/index.html
  index.html
  internals/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

bump sqlite
  .github/workflows/build.yml
  Dockerfile
Due: none

Revert "bump sqlite"
  .github/workflows/build.yml
  Dockerfile
Due: none

update SQLite & zstd
  .github/workflows/build.yml
  Dockerfile
  test/genomicsqlite_smoke_test.py
  test/test_parse_genomic_range.py
Due: black, pylint

update zstd_vfs with VFS logging
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

fix vfs_log passthrough
  src/genomicsqlite.cc
Due: clang-format, cppcheck

polish
  CMakeLists.txt
  docs/guide_db.md
  src/genomicsqlite.cc
Due: clang-format, cppcheck

fix
  CMakeLists.txt
Due: none

update zstd_vfs with VFS logging
  CMakeLists.txt
  docs/guide_db.md
  src/genomicsqlite.cc
Due: clang-format, cppcheck

bump SQLite & zstd (May 2023)
  .gitignore
  Dockerfile
Due: none

fix ubuntu 23.04 test suite bitrot
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_twobit.py
  test/test_vcf.py
  test/test_vcf_lines.py
Due: clang-format, cppcheck, black, pylint

update macOS runner
  .github/workflows/build.yml
  README.md
Due: none

macos path
  .github/workflows/build.yml
Due: none

macos setup-python
  .github/workflows/build.yml
Due: none

macos fix pip
  .github/workflows/build.yml
Due: none

routine maintenance (May 2023)
  .github/workflows/build.yml
  .gitignore
  Dockerfile
  README.md
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_twobit.py
  test/test_vcf.py
  test/test_vcf_lines.py
Due: clang-format, cppcheck, black, pylint

Use single quote to quote SQL string literal
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
  pylint: any of: \.py$
