Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

pylint:
  name: pylint
  language: system
  verbose: true
  entry: pylint
  args:
  - -d
  - bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code

fix
  CMakeLists.txt
Due: none

fix
  .github/workflows/build.yml
Due: none

fix
  .github/workflows/build.yml
  README.md
Due: none

fix
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

fix
  test/test_txdb.py
Due: black, pylint

fix
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

fix
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

simplify?
  CMakeLists.txt
Due: none

ldd
  .github/workflows/build.yml
Due: none

macOS CI (#2)
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  README.md
  bindings/python/genomicsqlite/__init__.py
  test/test_txdb.py
Due: black, pylint

fix C genomicsqlite_open and add smoke test
  .github/workflows/build.yml
  CMakeLists.txt
  bindings/python/release.sh
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/CMakeLists.txt
  test/capi_smoke_test.c
Due: clang-format, cppcheck

macOS zstd static linking
  CMakeLists.txt
Due: none

package .dylib
  bindings/python/MANIFEST.in
  bindings/python/setup.py
Due: black, pylint

fix Python DLL resolution
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

document macOS dylib
  README.md
  docs/index.md
Due: none

page size tuning experiment
  loaders/sam_into_sqlite.cc
  test/compression_tuning/Dockerfile
  test/compression_tuning/Makefile
  test/compression_tuning/run.wdl
Due: clang-format, cppcheck

update compression advice
  docs/guide.md
Due: none

Deployed b8c5869 with MkDocs version: 1.1.2
  guide/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

enable background prefetch/decompression
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

vcf_into_sqlite page size options
  loaders/vcf_into_sqlite.cc
  test/genomicsqlite_big_tests.wdl
Due: clang-format, cppcheck

update compression tuning docs
  CMakeLists.txt
  docs/guide.md
Due: none

Deployed d54c954 with MkDocs version: 1.1.2
  guide/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

add GenomicSQLiteAttachSQL
  bindings/python/genomicsqlite/__init__.py
  docs/bindings.md
  docs/guide.md
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

fix
  test/test_gri.py
Due: black, pylint

polish
  docs/guide.md
  test/test_gri.py
Due: black, pylint

add GenomicSQLiteAttachSQL (#3)
  bindings/python/genomicsqlite/__init__.py
  docs/bindings.md
  docs/guide.md
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

CI: build combined artifacts zip
  .github/workflows/build.yml
Due: none

wip
  src/SQLiteVirtualTable.hpp
  src/genomicsqlite.cc
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

wip
  src/SQLiteVirtualTable.hpp
Due: clang-format, cppcheck

wip
  src/genomicsqlite.cc
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

wip
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_txdb.py
Due: clang-format, cppcheck, black, pylint

wip
  src/SQLiteVirtualTable.hpp
  src/genomicsqlite.cc
  test/genomicsqlite_smoke_test.py
  test/test_txdb.py
Due: clang-format, cppcheck, black, pylint

wip
  docs/bindings.md
  docs/guide.md
  docs/internals.md
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_txdb.py
Due: clang-format, cppcheck, black, pylint

wip
  bindings/python/genomicsqlite/__init__.py
  docs/guide.md
  docs/index.md
  docs/internals.md
  test/genomicsqlite_smoke_test.py
  test/test_bam.py
  test/test_gri.py
  test/test_vcf.py
Due: black, pylint

wip
  docs/guide.md
  docs/internals.md
Due: none

wip
  docs/guide.md
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
  pylint: any of: \.py$
