Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

pylint:
  name: pylint
  language: system
  verbose: true
  entry: pylint
  args:
  - -d
  - bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code

GenomicSQLiteOpen for SQLiteCpp
  CMakeLists.txt
  include/genomicsqlite.h
  loaders/common.hpp
  loaders/vcf_into_sqlite.cc
  loaders/vcf_lines_into_sqlite.cc
  src/genomicsqlite.cc
Due: clang-format, cppcheck

revise optional parameter order
  .pre-commit-config.yaml
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
  include/genomicsqlite.h
  loaders/vcf_into_sqlite.cc
  loaders/vcf_lines_into_sqlite.cc
  src/genomicsqlite.cc
Due: clang-format, cppcheck, black, pylint

fix embarassing pause on opening large db
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

GRI simplification/polishing overhaul
  bindings/python/genomicsqlite/__init__.py
  include/genomicsqlite.h
  loaders/vcf_into_sqlite.cc
  loaders/vcf_lines_into_sqlite.cc
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_vcf.py
  test/test_vcf_lines.py
Due: clang-format, cppcheck, black, pylint

overhaul GRI again (to get optimal query plan)
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_vcf.py
  test/test_vcf_lines.py
Due: clang-format, cppcheck, black, pylint

bundle JSON1 and rename stuff
  .pre-commit-config.yaml
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
  include/genomicsqlite.h
  loaders/vcf_into_sqlite.cc
  loaders/vcf_lines_into_sqlite.cc
  src/genomicsqlite.cc
  src/json1.c
  test/test_gri.py
  test/test_vcf.py
  test/test_vcf_lines.py
Due: clang-format, cppcheck, black, pylint

JSON config
  bindings/python/genomicsqlite/__init__.py
  include/genomicsqlite.h
  loaders/vcf_into_sqlite.cc
  loaders/vcf_lines_into_sqlite.cc
  src/genomicsqlite.cc
Due: clang-format, cppcheck, black, pylint

leave execute to caller
  bindings/python/genomicsqlite/__init__.py
  test/test_gri.py
Due: black, pylint

VACUUM INTO helper
  bindings/python/genomicsqlite/__init__.py
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/test_txdb.py
Due: clang-format, cppcheck, black, pylint

build out python package and add CLI entry point
  CMakeLists.txt
  bindings/python/.gitignore
  bindings/python/Makefile
  bindings/python/README.md
  bindings/python/genomicsqlite.py
  bindings/python/setup.py
  src/genomicsqlite.cc
  src/json1.c
Due: clang-format, cppcheck, black, pylint

add Dockerfile for portable .so build
  CMakeLists.txt
  Dockerfile
  src/genomicsqlite.cc
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

bake zstd into portable .so
  CMakeLists.txt
  Dockerfile
  src/genomicsqlite.cc
Due: clang-format, cppcheck

add prefixes to __gri_refseq column names
  bindings/python/genomicsqlite.py
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_vcf.py
Due: clang-format, cppcheck, black, pylint

optimize GRI depth detection
  loaders/vcf_into_sqlite.cc
  src/genomicsqlite.cc
Due: clang-format, cppcheck

test DetectDepthRange corner cases
  src/genomicsqlite.cc
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

TxDb integration test
  .pre-commit-config.yaml
  test/test_txdb.py
Due: black, pylint

"safe mode" for range queries
  bindings/python/genomicsqlite.py
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_txdb.py
Due: clang-format, cppcheck, black, pylint

enable GitHub CI workflow
  .github/workflows/build.yml
  .gitignore
  README.md
Due: none

tweak vcf schema
  README.md
  loaders/vcf_into_sqlite.cc
  test/test_bam.py
  test/test_vcf.py
Due: clang-format, cppcheck, black, pylint

_gri_rid and JSON schema tweaks
  bindings/python/genomicsqlite.py
  include/genomicsqlite.h
  loaders/sam_into_sqlite.cc
  loaders/vcf_into_sqlite.cc
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_vcf.py
Due: clang-format, cppcheck, black, pylint

CI linters
  .github/workflows/build.yml
Due: none

simplify SQLite version check
  bindings/python/genomicsqlite.py
  include/genomicsqlite.h
  src/genomicsqlite.cc
Due: clang-format, cppcheck, black, pylint

more GRI corner-case tests
  bindings/python/genomicsqlite.py
  include/genomicsqlite.h
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

include gri_meta_json in convenience tables
  bindings/python/genomicsqlite.py
  include/genomicsqlite.h
  src/genomicsqlite.cc
Due: clang-format, cppcheck, black, pylint

update README.md
  README.md
  loaders/README.md
  loaders/vcf_into_sqlite.cc
Due: clang-format, cppcheck

strike unnecessary gri_refseq_ddl
  .github/workflows/build.yml
  bindings/python/genomicsqlite.py
  src/genomicsqlite.cc
Due: clang-format, cppcheck, black, pylint

rename __gri_refseq to _gri_refseq
  bindings/python/genomicsqlite.py
  loaders/sam_into_sqlite.cc
  loaders/vcf_into_sqlite.cc
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_vcf.py
Due: clang-format, cppcheck, black, pylint

is this going to work?
  .github/workflows/build.yml
  .pre-commit-config.yaml
  bindings/python/.gitignore
  bindings/python/MANIFEST.in
  bindings/python/Makefile
  bindings/python/README.md
  bindings/python/genomicsqlite/__init__.py
  bindings/python/release.sh
  bindings/python/setup.py
  bindings/python/version.py
Due: black, pylint

failsafe
  bindings/python/release.sh
Due: none

fix
  bindings/python/release.sh
Due: none

PyPI packaging
  .github/workflows/build.yml
  .pre-commit-config.yaml
  bindings/python/.gitignore
  bindings/python/MANIFEST.in
  bindings/python/Makefile
  bindings/python/README.md
  bindings/python/genomicsqlite/__init__.py
  bindings/python/release.sh
  bindings/python/setup.py
  bindings/python/version.py
Due: black, pylint

CLI: admit SQL on command line
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

add genomicsqlite_big_tests.wdl
  test/genomicsqlite_big_tests.wdl
Due: none

move hardcoded assemblies into hpp file
  CMakeLists.txt
  src/genomicsqlite.cc
  src/hardcoded_refseq.hpp
Due: clang-format, cppcheck

vcf_into_sqlite: make WITHOUT ROWID optional
  loaders/vcf_into_sqlite.cc
  test/genomicsqlite_big_tests.wdl
Due: clang-format, cppcheck

big test tuning
  loaders/vcf_into_sqlite.cc
  test/genomicsqlite_big_tests.wdl
Due: clang-format, cppcheck

genomicsqlite_big_tests: fix drop
  test/genomicsqlite_big_tests.wdl
Due: none

move gri_refseq_ddl()
  src/genomicsqlite.cc
Due: clang-format, cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
  pylint: any of: \.py$
