Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: clang-format
    args: [-i,'-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}']
  - id: cppcheck
    name: cppcheck
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: cppcheck
    args: [-q,--std=c++11]
  - id: black
    name: black
    language: system
    files: \.py$
    verbose: true
    entry: black
    args: [-l,'100']
  - id: pylint
    name: pylint
    language: system
    files: \.py$
    verbose: true
    entry: pylint
    args: [-d, "bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code"]

GRI v4
  bindings/python/genomicsqlite/__init__.py
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_txdb.py
  test/test_vcf.py
Due: clang-format, cppcheck, black, pylint

abutment test
  test/test_gri.py
Due: black, pylint

test indexing beg+len
  src/genomicsqlite.cc
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

make TxDb join more interesting
  test/test_txdb.py
Due: black, pylint

GRI v4 (#1)
  bindings/python/genomicsqlite/__init__.py
  include/genomicsqlite.h
  src/genomicsqlite.cc
  test/test_gri.py
  test/test_txdb.py
  test/test_vcf.py
Due: clang-format, cppcheck, black, pylint

make config units more intuitive
  src/genomicsqlite.cc
Due: clang-format, cppcheck

tweak big tests
  test/genomicsqlite_big_tests.wdl
Due: none

ld & scalability tweaks
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
  loaders/sam_into_sqlite.cc
  src/genomicsqlite.cc
  test/genomicsqlite_big_tests.wdl
Due: clang-format, cppcheck, black, pylint

add genomicsqlite_smoke_test.py
  .pre-commit-config.yaml
  CMakeLists.txt
  test/genomicsqlite_smoke_test.py
Due: black, pylint

polish smoke test
  .pre-commit-config.yaml
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
  test/genomicsqlite_smoke_test.py
Due: black, pylint

loaders: factor out BackgroundProducer
  loaders/common.hpp
  loaders/vcf_into_sqlite.cc
Due: clang-format, cppcheck

SAM background producer
  loaders/sam_into_sqlite.cc
  loaders/vcf_into_sqlite.cc
Due: clang-format, cppcheck

relax atomic consistency; after all, nothing could possibly go wrong
  loaders/common.hpp
  loaders/sam_into_sqlite.cc
Due: clang-format, cppcheck

tortoise and hare
  loaders/common.hpp
  loaders/sam_into_sqlite.cc
Due: clang-format, cppcheck

big tests oom
  test/genomicsqlite_big_tests.wdl
Due: none

smoke test: show cpuinfo
  .pre-commit-config.yaml
  test/genomicsqlite_smoke_test.py
Due: black, pylint

BackgroundProducer adaptive sleep
  README.md
  loaders/common.hpp
Due: clang-format, cppcheck

Update README.md
  README.md
Due: none

link libsqlite3.so.0 instead of libsqlite3.so
  .github/workflows/build.yml
  CMakeLists.txt
  Dockerfile
Due: none

adjust tag detection
  .github/workflows/build.yml
Due: none

eliminate dependence on SQLITE_ENABLE_COLUMN_METADATA
  CMakeLists.txt
Due: none

avoid unicode in smoke test
  test/genomicsqlite_smoke_test.py
Due: black, pylint

bump sqlite_zstd_vfs to adjust SQLITE_OPEN_MAIN_JOURNAL handling
  CMakeLists.txt
Due: none

build instructions
  README.md
Due: none

add conda recipe stuff
  .github/workflows/build.yml
  Dockerfile
  bindings/python/conda/genomicsqlite/LICENSE
  bindings/python/conda/genomicsqlite/meta.yaml
  bindings/python/setup.py
Due: black, pylint

Deployed f39bc15 with MkDocs version: 1.1.2
  sitemap.xml.gz
Due: none

Deployed 79111de with MkDocs version: 1.1.2
  bindings/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

docs genesis
  README.md
  docs/bindings.md
  docs/guide.md
  docs/index.md
  docs/internals.md
  docs/requirements.txt
  mkdocs.yml
  src/genomicsqlite.cc
Due: clang-format, cppcheck

proofreading
  docs/bindings.md
  docs/guide.md
Due: none

Deployed e685b27 with MkDocs version: 1.1.2
  bindings/index.html
  guide/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Deployed e685b27 with MkDocs version: 1.1.2
  bindings/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Deployed a4616e9 with MkDocs version: 1.1.2
  bindings/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

document binding vacuum into
  docs/bindings.md
Due: none

Deployed 5095666 with MkDocs version: 1.1.2
  bindings/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

polish internals
  docs/bindings.md
  docs/internals.md
Due: none

Deployed f72171c with MkDocs version: 1.1.2
  bindings/index.html
  internals/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

macOS CI
  .github/workflows/build.yml
  .gitignore
Due: none

fix
  .github/workflows/build.yml
Due: none
