Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

pylint:
  name: pylint
  language: system
  verbose: true
  entry: pylint
  args:
  - -d
  - bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code

wip
  .github/workflows/build.yml
Due: none

wip
  test/genomicsqlite_big_tests.wdl
Due: none

inlineDockerfile
  test/genomicsqlite_big_tests.wdl
Due: none

docs
  .github/workflows/build.yml
  docs/guide.md
  docs/index.md
Due: none

fix
  .github/workflows/build.yml
Due: none

fix
  test/genomicsqlite_big_tests.wdl
Due: none

test prebuilt sqlite
  .github/workflows/build.yml
  Dockerfile
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

fix
  test/test_txdb.py
Due: black, pylint

CentOS 7 build (#13)
  .github/workflows/build.yml
  Dockerfile
  docs/guide.md
  docs/index.md
  test/genomicsqlite_big_tests.wdl
  test/test_txdb.py
Due: black, pylint

libsqlite3.so.0: reenable double-quoted strings
  Dockerfile
Due: none

Deployed 41aa050 with MkDocs version: 1.1.2
  guide/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

enable web_vfs
  CMakeLists.txt
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
  bindings/jdbc/genomicsqlite-jdbc/src/test/java/net/mlin/genomicsqlite/JdbcTests.java
  bindings/python/genomicsqlite/__init__.py
  bindings/rust/src/lib.rs
  loaders/CMakeLists.txt
  loaders/common.hpp
  src/genomicsqlite.cc
  test/test_txdb.py
Due: clang-format, cppcheck, black, pylint

fix
  .github/workflows/build.yml
  CMakeLists.txt
  Dockerfile
Due: none

fix
  .github/workflows/build.yml
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
Due: none

new C/C++ init routine
  include/genomicsqlite.h
  loaders/sam_into_sqlite.cc
  loaders/vcf_into_sqlite.cc
  loaders/vcf_lines_into_sqlite.cc
  src/genomicsqlite.cc
  test/capi_smoke_test.c
Due: clang-format, cppcheck

bump
  CMakeLists.txt
Due: none

uhoh
  Dockerfile
Due: none

fix
  CMakeLists.txt
  Dockerfile
Due: none

logging
  .github/workflows/build.yml
  Dockerfile
Due: none

logging
  .github/workflows/build.yml
Due: none

logging
  CMakeLists.txt
Due: none

docs
  include/genomicsqlite.h
Due: clang-format, cppcheck

simplify loaders
  CMakeLists.txt
  loaders/CMakeLists.txt
  loaders/common.hpp
Due: clang-format, cppcheck

readme
  README.md
Due: none

enable web_vfs (#14)
  .github/workflows/build.yml
  CMakeLists.txt
  Dockerfile
  README.md
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
  bindings/jdbc/genomicsqlite-jdbc/src/test/java/net/mlin/genomicsqlite/JdbcTests.java
  bindings/python/genomicsqlite/__init__.py
  bindings/rust/src/lib.rs
  include/genomicsqlite.h
  loaders/CMakeLists.txt
  loaders/sam_into_sqlite.cc
  loaders/vcf_into_sqlite.cc
  loaders/vcf_lines_into_sqlite.cc
  src/genomicsqlite.cc
  test/capi_smoke_test.c
  test/test_txdb.py
Due: clang-format, cppcheck, black, pylint

wip
  README.md
  docs/bindings.md
  docs/guide_db.md
  docs/guide_gri.md
  docs/guide_helpers.md
  docs/index.md
  mkdocs.yml
Due: none

wip
  docs/guide_db.md
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
  pylint: any of: \.py$
