Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

pylint:
  name: pylint
  language: system
  verbose: true
  entry: pylint
  args:
  - -d
  - bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code

wip
  docs/guide.md
  src/genomicsqlite.cc
Due: clang-format, cppcheck

New GRI query API based on table-valued function in SQL (#4)
  bindings/python/genomicsqlite/__init__.py
  docs/bindings.md
  docs/guide.md
  docs/index.md
  docs/internals.md
  src/SQLiteVirtualTable.hpp
  src/genomicsqlite.cc
  test/genomicsqlite_smoke_test.py
  test/test_bam.py
  test/test_gri.py
  test/test_txdb.py
  test/test_vcf.py
Due: clang-format, cppcheck, black, pylint

recipe for GRI query oncircular chromosome
  README.md
  docs/guide.md
  docs/index.md
Due: none

Update README.md
  README.md
  docs/internals.md
Due: none

colab for v0.3.0
  README.md
  docs/index.md
Due: none

Deployed 067f0df with MkDocs version: 1.1.2
  bindings/index.html
  guide/index.html
  index.html
  internals/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

bump zstd_vfs and improve debug tracing
  CMakeLists.txt
  src/genomicsqlite.cc
  test/capi_smoke_test.c
Due: clang-format, cppcheck

start JDBC bindings
  .github/workflows/build.yml
  CMakeLists.txt
  bindings/jdbc/genomicsqlite-jdbc/.gitignore
  bindings/jdbc/genomicsqlite-jdbc/pom.xml
  bindings/jdbc/genomicsqlite-jdbc/release.sh
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/GenomicSQLite.java
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/ReferenceSequence.java
  bindings/jdbc/genomicsqlite-jdbc/src/main/resources/java.sql.Driver
  bindings/jdbc/genomicsqlite-jdbc/src/test/java/net/mlin/genomicsqlite/JdbcTests.java
  docs/bindings.md
Due: none

jar artifact
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

fix
  .github/workflows/build.yml
Due: none

fix
  CMakeLists.txt
Due: none

fix
  CMakeLists.txt
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
Due: none

fix
  .github/workflows/build.yml
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
Due: none

GENOMICSQLITE_LIBRARY
  .github/workflows/build.yml
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
  docs/bindings.md
  docs/index.md
Due: black, pylint

LIBGENOMICSQLITE
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
  bindings/python/genomicsqlite/__init__.py
  docs/bindings.md
  docs/index.md
Due: black, pylint

LIBGENOMICSQLITE
  CMakeLists.txt
Due: none

Java docs
  docs/guide.md
  docs/index.md
Due: none

correct location of java.sql.Driver
  bindings/jdbc/genomicsqlite-jdbc/release.sh
  bindings/jdbc/genomicsqlite-jdbc/src/main/resources/META-INF/services/java.sql.Driver
  docs/index.md
Due: none

genomicsqlite.config_json
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
  bindings/jdbc/genomicsqlite-jdbc/src/test/java/net/mlin/genomicsqlite/JdbcTests.java
  docs/guide.md
Due: none

JDBC bindings (#5)
  .github/workflows/build.yml
  CMakeLists.txt
  bindings/jdbc/genomicsqlite-jdbc/.gitignore
  bindings/jdbc/genomicsqlite-jdbc/pom.xml
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/GenomicSQLite.java
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/JdbcDriver.java
  bindings/jdbc/genomicsqlite-jdbc/src/main/java/net/mlin/genomicsqlite/ReferenceSequence.java
  bindings/jdbc/genomicsqlite-jdbc/src/main/resources/META-INF/services/java.sql.Driver
  bindings/jdbc/genomicsqlite-jdbc/src/test/java/net/mlin/genomicsqlite/JdbcTests.java
  bindings/python/genomicsqlite/__init__.py
  docs/bindings.md
  docs/guide.md
  docs/index.md
Due: black, pylint

colab v0.4.0
  README.md
  docs/index.md
Due: none

Deployed 22f5091 with MkDocs version: 1.1.2
  bindings/index.html
  guide/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update README.md
  README.md
Due: none

add missing linker dependencies
  loaders/CMakeLists.txt
Due: none

add figures to Internals docs
  docs/gri.png
  docs/internals.md
  docs/sqlite_zstd_vfs.png
Due: none

Deployed 126f9b6 with MkDocs version: 1.1.2
  gri.png
  internals/index.html
  sitemap.xml
  sitemap.xml.gz
  sqlite_zstd_vfs.png
Due: none

fix macOS build
  .github/workflows/build.yml
Due: none

wip
  docs/guide.md
  src/genomicsqlite.cc
  test/test_twobit.py
Due: clang-format, cppcheck, black, pylint

polish
  docs/guide.md
  test/test_twobit.py
Due: black, pylint

polish
  docs/guide.md
Due: none

simplify
  docs/guide.md
  src/genomicsqlite.cc
  test/test_twobit.py
Due: clang-format, cppcheck, black, pylint

polish
  docs/guide.md
  src/genomicsqlite.cc
Due: clang-format, cppcheck

fix
  src/genomicsqlite.cc
Due: clang-format, cppcheck

optimize
  docs/guide.md
  src/genomicsqlite.cc
Due: clang-format, cppcheck

clarify
  docs/guide.md
Due: none

record
  src/genomicsqlite.cc
Due: clang-format, cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
  pylint: any of: \.py$
