Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: clang-format
    args: [-i,'-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}']
  - id: cppcheck
    name: cppcheck
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: cppcheck
    args: [-q,--std=c++11]
  - id: black
    name: black
    language: system
    files: \.py$
    verbose: true
    entry: black
    args: [-l,'100']
  - id: pylint
    name: pylint
    language: system
    files: \.py$
    verbose: true
    entry: pylint
    args: [-d, "bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code"]

web_log passthrough
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

polish CLI
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

CLI subcommand for compaction
  CMakeLists.txt
  bindings/python/genomicsqlite/__init__.py
  src/genomicsqlite.cc
Due: clang-format, cppcheck, black, pylint

wip
  docs/guide_db.md
  docs/guide_gri.md
  docs/guide_helpers.md
  mkdocs.yml
Due: none

CLI polish
  .github/workflows/build.yml
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

wip
  docs/guide_db.md
Due: none

polish
  docs/guide_db.md
  docs/guide_gri.md
Due: none

bump zstd_vfs and passthrough web_insecure
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

document web_insecure
  docs/guide_db.md
Due: none

test
  test/genomicsqlite_big_tests.wdl
Due: none

polish
  test/genomicsqlite_big_tests.wdl
Due: none

fix
  test/genomicsqlite_big_tests.wdl
Due: none

fix application_id
  CMakeLists.txt
Due: none

oom tweak
  test/genomicsqlite_big_tests.wdl
Due: none

test CLI --compact
  bindings/python/genomicsqlite/__init__.py
  docs/guide_db.md
  test/test_bam.py
  test/test_txdb.py
Due: black, pylint

test CLI --compact
  test/genomicsqlite_big_tests.wdl
Due: none

fix compaction memory blowup
  bindings/python/genomicsqlite/__init__.py
  test/test_bam.py
Due: black, pylint

bump zstd_vfs
  CMakeLists.txt
  docs/guide_db.md
Due: none

tweak big test
  test/genomicsqlite_big_tests.wdl
Due: none

polish
  docs/guide_db.md
  docs/guide_helpers.md
  docs/internals.md
Due: none

docs & testing for v0.8.0 (#15)
  CMakeLists.txt
  README.md
  bindings/python/genomicsqlite/__init__.py
  docs/bindings.md
  docs/guide.md
  docs/guide_db.md
  docs/guide_gri.md
  docs/guide_helpers.md
  docs/index.md
  docs/internals.md
  mkdocs.yml
  test/genomicsqlite_big_tests.wdl
  test/test_bam.py
  test/test_txdb.py
Due: black, pylint

wordsmith
  docs/internals.md
Due: none

simplify usage of genomic_range_index_levels()
  docs/guide_gri.md
  src/genomicsqlite.cc
  test/genomicsqlite_big_tests.wdl
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

bump zstd_vfs
  CMakeLists.txt
Due: none

bump zstd_vfs to fix race condition
  CMakeLists.txt
Due: none

revise genomic_range_index_levels() docs on recommended usage
  docs/guide_gri.md
Due: none

Deployed 74e08b7 with MkDocs version: 1.1.2
  404.html
  bindings/index.html
  guide_db/index.html
  guide_gri/index.html
  guide_helpers/index.html
  index.html
  internals/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

python CLI: improve error message if sqlite3 shell isn't installed
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

clarify GRI docs
  docs/guide_db.md
  docs/guide_gri.md
Due: none

wip
  src/genomicsqlite.cc
Due: clang-format, cppcheck

bump VFS for prefetch tuning
  CMakeLists.txt
Due: none

clarify C calling convention
  include/genomicsqlite.h
Due: clang-format, cppcheck

Deployed e6eea65 with MkDocs version: 1.1.2
  guide_db/index.html
  guide_gri/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

bump zstd_vfs to begin assimilating .dbi support
  CMakeLists.txt
  README.md
Due: none

fix new pylint
  bindings/python/version.py
Due: black, pylint

invalidate cache from sqlite3_total_changes() as well as SQLITE_FCNTL_DATA_VERSION
  src/genomicsqlite.cc
Due: clang-format, cppcheck

fix rust bindings build
  bindings/rust/Cargo.toml.in
  bindings/rust/src/lib.rs
Due: none

docs
  docs/guide_gri.md
Due: none
