Repository mlin/GenomicSQLite: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: clang-format
    args: [-i,'-style={IndentWidth: 4, ColumnLimit: 100, BreakStringLiterals: false}']
  - id: cppcheck
    name: cppcheck
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: cppcheck
    args: [-q,--std=c++11]
  - id: black
    name: black
    language: system
    files: \.py$
    verbose: true
    entry: black
    args: [-l,'100']
  - id: pylint
    name: pylint
    language: system
    files: \.py$
    verbose: true
    entry: pylint
    args: [-d, "bad-continuation,global-statement,missing-docstring,missing-module-docstring,line-too-long,too-many-arguments,duplicate-code"]

doc
  docs/guide_gri.md
Due: none

test
  test/test_gri.py
Due: black, pylint

simplify usage of genomic_range_index_levels() (#16)
  docs/guide_gri.md
  src/genomicsqlite.cc
  test/genomicsqlite_big_tests.wdl
  test/test_gri.py
Due: clang-format, cppcheck, black, pylint

dbi config passthrough
  src/genomicsqlite.cc
Due: clang-format, cppcheck

CLI --dbi
  bindings/python/genomicsqlite/__init__.py
  bindings/python/genomicsqlite/__main__.py
  bindings/python/genomicsqlite/sqlite_web_dbi.py
Due: black, pylint

dbi docs
  docs/guide_db.md
Due: none

bump zstd_vfs
  CMakeLists.txt
  README.md
Due: none

fix
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

typo
  docs/guide_db.md
Due: none

fix python
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

bump
  CMakeLists.txt
Due: none

dbi integration testing
  test/genomicsqlite_big_tests.wdl
Due: none

cli usage
  bindings/python/genomicsqlite/__init__.py
Due: black, pylint

support .dbi helper files to speed up web access (#19)
  CMakeLists.txt
  README.md
  bindings/python/genomicsqlite/__init__.py
  bindings/python/genomicsqlite/__main__.py
  bindings/python/genomicsqlite/sqlite_web_dbi.py
  docs/guide_db.md
  src/genomicsqlite.cc
  test/genomicsqlite_big_tests.wdl
Due: clang-format, cppcheck, black, pylint

bump SQLite & zstd
  .github/workflows/build.yml
  Dockerfile
Due: none

fix rust bindings build
  bindings/rust/Cargo.toml.in
  bindings/rust/src/lib.rs
Due: none

take out EnqueueFast
  CMakeLists.txt
Due: none

fix wdl
  test/genomicsqlite_big_tests.wdl
Due: none

vestige
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

back out SQLITECPP_IN_EXTENSION
  CMakeLists.txt
Due: none

desperate linker changes
  CMakeLists.txt
  loaders/CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

desperate rollbacks
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

reversions
  CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

spaghetti
  CMakeLists.txt
  loaders/CMakeLists.txt
  src/genomicsqlite.cc
Due: clang-format, cppcheck

spaghetti 2
  loaders/sam_into_sqlite.cc
  src/genomicsqlite.cc
  test/genomicsqlite_big_tests.wdl
Due: clang-format, cppcheck

finally traction?
  loaders/sam_into_sqlite.cc
Due: clang-format, cppcheck

scale outer_cache_size to config page_cache_MiB
  src/genomicsqlite.cc
Due: clang-format, cppcheck

restore old page sizes
  test/genomicsqlite_big_tests.wdl
Due: none

improve robustness of extension init routines
  CMakeLists.txt
  include/genomicsqlite.h
  loaders/sam_into_sqlite.cc
  loaders/vcf_into_sqlite.cc
  loaders/vcf_lines_into_sqlite.cc
  src/genomicsqlite.cc
Due: clang-format, cppcheck

bump zstd_vfs
  CMakeLists.txt
Due: none

Deployed 8ea64f5 with MkDocs version: 1.1.2
  guide_db/index.html
  guide_gri/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

pull JSON1 security updates
  src/json1.c
  test/cargo_smoke_test/Cargo.toml.in
Due: clang-format, cppcheck
